if [ x$feature_default_font_path = xy ] ; then
   font=unicode
else
   font=$prefix/font.pf2
fi

if loadfont $font ; then
  set gfxmode=800x600
  set gfxpayload=keep
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod gfxterm
  insmod png
  terminal_output gfxterm
fi

if background_image /isolinux/splash.png; then
  set color_normal=light-gray/black
  set color_highlight=white/black
elif background_image /splash.png; then
  set color_normal=light-gray/black
  set color_highlight=white/black
else
  set menu_color_normal=cyan/blue
  set menu_color_highlight=white/blue
fi

insmod play
play 960 440 1 0 4 440 1
set theme=/boot/grub/theme/1

# ------------------------------------------------------------------------------
# Modular Boot Configuration (editable directly from Windows on USB stick)
# ------------------------------------------------------------------------------
if [ -f /boot_option.cfg ]; then
    source /boot_option.cfg
elif [ -f /boot/grub/boot_option.cfg ]; then
    source /boot/grub/boot_option.cfg
fi

if [ -z "$default" ]; then
    set default="0"
fi
if [ -z "$timeout" ]; then
    set timeout=5
fi

# ------------------------------------------------------------------------------
# Primary Boot Options
# ------------------------------------------------------------------------------
menuentry --hotkey=v '1. Install VKS Video Kiosk (Automated)' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 kiosk_variant=vks auto=true priority=critical --- quiet
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=t '2. Install Data Transfer Station (Automated)' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 kiosk_variant=transfer auto=true priority=critical --- quiet
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=l '3. Debian Live / Rescue System' {
    set background_color=black
    linux    /install.amd/vmlinuz rescue/enable=true vga=788 --- quiet
    initrd   /install.amd/initrd.gz
}

# ------------------------------------------------------------------------------
# Installation Submenu (Advanced, Debug & Expert Options)
# ------------------------------------------------------------------------------
submenu '4. Advanced & Debug Installation Options' {
    menuentry '4.1 Debug / Verbose Install - VKS Video Kiosk' {
        set background_color=black
        linux    /install.amd/vmlinuz vga=788 kiosk_variant=vks priority=low ---
        initrd   /install.amd/initrd.gz
    }

    menuentry '4.2 Debug / Verbose Install - Data Transfer Station' {
        set background_color=black
        linux    /install.amd/vmlinuz vga=788 kiosk_variant=transfer priority=low ---
        initrd   /install.amd/initrd.gz
    }

    menuentry '4.3 Expert Manual Installation (Interactive Partitioning)' {
        set background_color=black
        linux    /install.amd/vmlinuz priority=low vga=788 ---
        initrd   /install.amd/initrd.gz
    }
}
